/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            quick-tap-ms = <200>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE          &kp Q        &kp W        &kp E         &kp R          &kp T          &kp Y        &kp U            &kp I         &kp O        &kp P           &trans
&kp LEFT_BRACKET   &hrm LGUI A  &hrm LALT S  &hrm LCTRL D  &hrm LSHIFT F  &kp G          &kp H        &hrm RSHIFT J    &hrm RCTRL K  &hrm RALT L  &hrm RGUI SEMI  &kp SQT
&kp RIGHT_BRACKET  &kp Z        &kp X        &kp C         &kp V          &kp B          &kp N        &kp M            &kp COMMA     &kp DOT      &kp FSLH        &kp BSLH
                                             &kp ESC       &lt 1 TAB      &lt 2 SPACE    &lt 2 ENTER  &lt 3 BACKSPACE  &kp DELETE
            >;
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans        &trans            &trans        &trans    &trans  &trans    &trans         &trans       &trans     &trans
&trans  &trans  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &trans    &trans  &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans  &kp K_VOL_DN  &kp K_MUTE        &kp K_VOL_UP  &trans    &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
                              &trans            &trans        &trans    &trans  &trans    &trans
            >;
        };

        sym {
            bindings = <
&trans  &trans     &kp LESS_THAN  &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE    &kp EXCL     &kp QUESTION  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans      &trans
&trans  &kp COLON  &kp MINUS      &kp PLUS          &kp EQUAL          &kp UNDER           &kp PERCENT  &kp COMMA     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI    &trans
&trans  &kp PIPE   &kp SLASH      &kp ASTRK         &kp AMPS           &kp AT              &kp HASH     &kp CARET     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR  &trans
                                  &trans            &trans             &trans              &trans       &trans        &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp N0  &trans    &trans  &trans  &trans
            >;
        };
    };
};
