/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            require-prior-idle-ms = <200>;
            quick-tap-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_delete {
            bindings = <&kp DELETE>;
            key-positions = <16 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE          &kp Q        &kp W        &kp E         &kp R          &kp T          &kp Y        &kp U            &kp I         &kp O        &kp P           &trans
&kp LEFT_BRACKET   &hrm LGUI A  &hrm LALT S  &hrm LCTRL D  &hrm LSHIFT F  &kp G          &kp H        &hrm RSHIFT J    &hrm RCTRL K  &hrm RALT L  &hrm RGUI SEMI  &kp SQT
&kp RIGHT_BRACKET  &kp Z        &kp X        &kp C         &kp V          &kp B          &kp N        &kp M            &kp COMMA     &kp DOT      &kp FSLH        &kp BSLH
                                             &kp ESC       &lt 2 TAB      &lt 3 SPACE    &lt 3 ENTER  &lt 4 BACKSPACE  &kp DELETE
            >;
        };

        night {
            bindings = <
&trans  &kp B            &kp F           &kp L               &kp K             &kp Q          &kp P            &kp G              &kp O                &kp U            &kp DOT           &trans
&trans  &mt LEFT_META N  &mt LEFT_ALT S  &mt LEFT_CONTROL H  &mt LEFT_SHIFT T  &kp M          &kp Y            &mt RIGHT_SHIFT C  &mt RIGHT_CONTROL A  &mt RIGHT_ALT E  &mt RIGHT_META I  &trans
&trans  &kp X            &kp V           &kp J               &kp D             &kp Z          &kp APOS         &kp W              &kp FSLH             &kp SEMI         &kp COMMA         &trans
                                         &kp ESCAPE          &lt 2 R           &lt 3 ENTER    &lt 3 BACKSPACE  &lt 4 SPACE        &kp TAB
            >;
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans         &trans       &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        sym {
            bindings = <
&trans  &kp QUESTION   &kp PLUS   &kp MINUS  &kp EXCL          &kp SINGLE_QUOTE    &kp DOUBLE_QUOTES  &kp HASH   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AT      &trans
&trans  &kp LESS_THAN  &kp COLON  &kp EQUAL  &kp GREATER_THAN  &kp UNDER           &kp BACKSLASH      &kp COMMA  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI    &trans
&trans  &kp PIPE       &kp ASTRK  &kp SLASH  &kp AMPS          &kp TILDE           &kp PERCENT        &kp CARET  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR  &trans
                                  &trans     &trans            &trans              &trans             &trans     &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &kp N0  &trans    &trans  &trans  &trans
            >;
        };
    };
};
